@model List<WebApplication1.Models.Album>
@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/Layout.cshtml";
}
<div class="container" id="services">
    <h2>資料</h2>
    <a class="btn container btn-info" style="color:black" href="~/Album/Create">新增</a>
    <table class="table">
        <thead>
            <tr>
                <th>姓名</th>
                <th>學號</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].Name</td>
                    <td>@Model[i].Number</td>
                    <td>@Model[i].Email</td>
                    <td>
                        <a class="btn btn-primary" href="~/Album/Update/@Model[i].ID">編輯</a>
                        <a class="btn btn-danger" href="~/Album/Delete/@Model[i].ID">刪除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
